storage-soap/src/main/resources/medicines.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://model" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://model" targetNamespace="http://model">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://model">
      <xs:element name="getMedicineRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="name" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getMedicineResponse">
        <xs:complexType>
          <xs:sequence maxOccurs="unbounded" minOccurs="0">
            <xs:element name="medicines" type="tns:medicine"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="medicine">
        <xs:sequence>
          <xs:element name="name" type="xs:string"/>
          <xs:element name="id" type="xs:int"/>
          <xs:element name="usage" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getMedicineResponse">
    <wsdl:part element="tns:getMedicineResponse" name="getMedicineResponse"/>
  </wsdl:message>
  <wsdl:message name="getMedicineRequest">
    <wsdl:part element="tns:getMedicineRequest" name="getMedicineRequest"/>
  </wsdl:message>
  <wsdl:portType name="Medicines Port">
    <wsdl:operation name="getMedicine">
      <wsdl:input message="tns:getMedicineRequest" name="getMedicineRequest"/>
      <wsdl:output message="tns:getMedicineResponse" name="getMedicineResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Medicines PortSoap11" type="tns:Medicines Port">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getMedicine">
      <soap:operation soapAction=""/>
      <wsdl:input name="getMedicineRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMedicineResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Medicines PortService">
    <wsdl:port binding="tns:Medicines PortSoap11" name="Medicines PortSoap11">
      <soap:address location="http://localhost:8082/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>